.images img{
    max-height: 352px;
    max-width: 100%;
    
}

body{
    /* background-color: aquamarine; */
    /* height: 100%;
    width:100%; */
    margin: 0 ;
    padding: 0;
}
.carousel{
  display: block;  
}
.resNameHeading{
    /* width: 500px; */
    height: 43px;
    /* margin: 4.5px 156px 40px 0; */
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    display:inline-block;
    margin-bottom: 0px;
      }

/* .myTabs{
       
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    border: none;
    border-bottom: solid red;
} */

.react-tabs__tab--selected{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    border: none;
    border-bottom: solid 2px red;
}
.react-tabs__tab{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.header-logo{
    width: 42px;
    height: 42px;
    background-color: #ffffff;
    line-height: 42px;
    color: #eb2929;
    border-radius:50%;
    display: inline-block;
    font-size:28px;
    text-align: center;
    cursor: pointer;
}

.menuItem{
    text-decoration: none;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
    padding-top: 10px;
}

.menu{
    padding:0;
    list-style: none;
}
.closeBtn{
    position: absolute;
    right: 15px;
    top:5pxpx;
}

.heading2{
    font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
  display: inline-block;
}

.subHading{
    font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}

.inputField{
    /* width: 292px; */
    height: 50px;
    /* margin: 9px 15px 28px 5px; */
   padding-left: 20px;
    border-radius: 2px;
    border: solid 1px #cacfd8;
}

.about {
    height: 31px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    margin: 25px 0;
}
.cuisine {
    height: 25px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.cuisines {
    height: 30px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}
.orderItemCount{
    width: 71px;
    height: 29px;
   
    /* padding: 5px 7.3px 3px 5.2px; */
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    position: relative;
    top:68px;
}
.orderItem{
    width: 92px;
    height: 92px;
    padding-right: 0px;
    border-radius: 4px;
    position:absolute;
    background-color: #192f60;
    right:39px ;
  }
  
  .menuHeading{
    width: 298px;
    height: 43px;
    /* margin: 4.5px 156px 40px 0; */
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    display:inline-block;
  }
  .itemName{
    width: 256px;
    height: 25px;
    /* margin: 9px 298px 5px 0; */
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #292c40;
  }
  .itemPrice{
    width: 32px;
    height: 21px;
    /* margin: 5px 422px 12px 0; */
    font-family: RupeeForadian;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #292c40;
  }
  .itemDec{
    /* width: 329px;
    height: 38px;
    margin: 12px 125px 28.6px 0; */
    font-family: RupeeForadian;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #696b78;

  }
  .subTotal{
    height:61px;
    background-color: #f5f8ff;
  }
    
    /* padding: 15px 54px 15px 60px;
    background-color: #f5f8ff; */
  
  .price{
    width: 196px;
    height: 31px;
    /* margin: 8px 41px 11px 0; */
    font-family: Poppins;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #292c40;
    display: inline-block;
  }
  .count{
    background-color:wheat;
    position: absolute;
    top: 30%;
    left: 45%;
    text-align:center;
    display: inline-block;
    background-color: #192f60;
    color:white;

  }

  .countItem {
      color: white;
      /* display: inline-block; */
      position: absolute;
      /* text-align: center; */
      top: 25%;
      left: 44%;
  }
   
  .ReactModal__Overlay{
    z-index:1000;
  }