.header{
    position: absolute;
    right: 0;
    top:0;
    padding: 10px;
    width: 100%;
    background: transparent
}
.fb {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 100%;
    color: white;
}
.google {
    opacity: 1 !important;
    width: 100%;
    color: black !important;
    letter-spacing: 1px;
    border-radius: 5px !important;
    text-align: center;
    font-size: 18px !important
}
.header-logo{
margin-left: 7%;
width: 42px;
    height: 42px;
    line-height: 42px;
    color: #eb2929;
    border-radius: 50%;
    background-color: #ffffff;
    display: inline-block;
    font-size: 28px;
    text-align: center;
    cursor: pointer;
}

.orderDetailssBox{
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
    
}
.od{
    font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #8c96ab;
  padding: 10px;

}
.loginButton{
    float: right;
    /* width: 300px; */
    text-align: right;
    padding-right: 4%;
}